@font-face {
    font-family: 'MarkPro-Black';
    src: url('../fonts/MarkPro-Black/MarkPro-Black.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MarkPro-Black/MarkPro-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/MarkPro-Black/MarkPro-Black.woff') format('woff'), /* Modern Browsers */
    url('../fonts/MarkPro-Black/MarkPro-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/MarkPro-Black/MarkPro-Black.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html, body {
    height: 100%;
    overflow: hidden;
}

.website-gallery, .overlay-menu{
    font-family: "Lato", sans-serif;
}

.overlay-menu a{
    cursor: pointer;
}
.follow{
    font-size: 16px;
    color: #fff;
    position: absolute;
    bottom: 5px;
    text-align: center;
    left: 0;
    right: 0;
    display: block;
    opacity: 0;
}
.follow a{
    text-decoration: none;
    color: #fff;
}
.follow a:hover{
    color: #fff;
}
.follow a:visited{
    color: #fff;
}
.title-follow{
    margin-bottom: 5px;
}

.background-color {
    background-color: rgba(29,38,46,0.7);
    height: 100%;
    width: 100%;
    position: absolute;
}

#particles-js{
    z-index: 30;
    width:100%;
    height:100%;
    position: absolute;
    opacity: 0.7;
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor: auto!important;
}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    /*cursor: grabbing!important;*/
}

.top-logo{
    width: 100%;
    text-align: center;
}
.logo-m{
    margin-bottom: 25px;
    position: absolute;
    top: 25px;
    z-index: 10;
    margin-left: -25px;
}

/*----------------------------------------------*/
/*-----------------LOADER SCREEN----------------*/
/*----------------------------------------------*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.loader,
.loader:before,
.loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader {
    z-index: 1001;
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 7px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #ffffff;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #ffffff;
        height: 5em;
    }
}

@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #ffffff;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #ffffff;
        height: 5em;
    }
}

/*LOADER PAGE BACKGROUND*/
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}

.loaded .loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper .loader-section {

    -webkit-transition: all 0.3s 0.3s ease-out;
    transition: all 0.3s 0.3s ease-out;
}

.loaded #loader-wrapper {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);

    -webkit-transition: all 0.3s 0.6s ease-out;
    transition: all 0.3s 0.6s ease-out;
}

/*----------------------------------------------*/
/*---------------FLICKITY LIBRARY---------------*/
/*----------------------------------------------*/

.website-gallery, .flickity-viewport {
    width: 100%;
    height: 100%;
}

.gallery-cell {
    width: 100%;
    height: 100%;
    /*background: #8C8;*/
}

/*----------------------------------------------*/
/*--------------HAMB MENU ANIMATION-------------*/
/*----------------------------------------------*/

#hamb-menu {
    right: 57px;
    z-index: 10;
    width: 25px;
    height: 18px;
    position: fixed;
    margin: 40px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#hamb-menu span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#hamb-menu.open span {
    background: #fff;
}

#hamb-menu span:nth-child(1) {
    top: 0px;
}

#hamb-menu span:nth-child(2), #hamb-menu span:nth-child(3) {
    top: 7px;
}

#hamb-menu span:nth-child(4) {
    top: 14px;
}

#hamb-menu.open span:nth-child(1) {
    top: 7px;
    width: 0%;
    left: 50%;
}

#hamb-menu.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamb-menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamb-menu.open span:nth-child(4) {
    top: 7px;
    width: 0%;
    left: 50%;
}

/*----------------------------------------------*/
/*--------------OPEN MENU LIBRARY---------------*/
/*----------------------------------------------*/

.overlay {
    position: fixed;
    /*background: #cf2949;*/
    background: #1086AD;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    z-index: 3;
}

.overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    z-index: 3;
}

.overlay nav {
    position: relative;
    height: 70%;
    top: 51%;  /*50% original*/
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 45px;
    text-align: center;
}

.hide {
    text-indent: -998em;
    height: 0;
}

.hide {
    display: none !important;
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}

.overlay ul li {
    display: block;
    height: 25%;
    min-height: 50px;
    position: relative;
    opacity: 0;
}

.overlay.open li, .overlay.open .follow{
    -webkit-animation: fadeInUp .5s ease forwards;
    animation: fadeInUp .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
}

.overlay.open li:nth-of-type(5) {
    -webkit-animation-delay: .55s;
    animation-delay: .55s;
}

.overlay.open .follow{
    -webkit-animation-delay: .55s;
    animation-delay: .60s;
}

.overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    font-family: MarkPro-Black, sans-serif;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
}

.overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    -webkit-transition: .35s;
    transition: .35s;
}

/*----------------------------------------------*/
/*----------------HOME PAGE VIEW----------------*/
/*----------------------------------------------*/

.home-page .description {
    margin: auto;
    text-align: right;
    vertical-align: middle;
    position: absolute;
    top: 230px;
    bottom: 0;
    font-weight: 600;
    right: 150px;
    max-width: 600px;
    font-size: 25px;
    height: 160px;
}

.introduction{
    height: 107px;
}

.home-page {
    /*background: url("../img/background/back-mountains.jpg") no-repeat center center fixed;*/
    /*background-size: cover;*/
    /*background-color: #f4f3f8;*/
    /*background-color: #1D262E;*/
    color: #FFF;
}

.quote {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    text-align: center;
    font-size: 93%;
    line-height: 1.28;
    color: #fff;
    z-index: 50;
}

.tips {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    text-align: center;
    font-size: 93%;
    line-height: 1.28;
    color: #fff;
    z-index: 50;
}
.tips div, .tips p{
    display: inline-block;
}
.tips p{
    margin-left: 10px;
}
/*----------------------------------------------*/
/*------------INTRODUCTION PAGE VIEW------------*/
/*----------------------------------------------*/
#introduction-page {
    overflow: auto;
    /*background: #f4f3f8;*/
    /*background-color: #1D262E;*/
    background-color: rgb(43, 55, 66);
    color: #FFF;
    overflow-x: hidden;
    /*padding-bottom: 200px;*/
}

#introduction-background, #presentation-background{
    width:100%;height:100%;background: none;position:absolute
}

#introduction-page .title {
    margin-top: 130px;
    margin-left: 110px;
    font-family: MarkPro-Black, sans-serif;
    text-transform: uppercase;
    font-size: 10em;
}
#introduction-page .description{
    margin: auto;
    text-align: right;
    vertical-align: middle;
    position: absolute;
    top: 100px;
    bottom: 0;
    font-weight: 600;
    right: 150px;
    font-size: 25px;
}
#introduction-page .container {
    /*width: 1200px;*/
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#presentation{
    z-index: 50;
}
#presentation .title{
    margin-top: 140px;
    margin-left: 110px;
    font-family: MarkPro-Black, sans-serif;
    text-transform: uppercase;
    font-size: 10em;
    line-height: 1em;
    width: 800px;
}

#presentation a{
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
}
#presentation a{
    text-decoration: none;
    color: #FFF;
}

.scroll-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 55px;
    text-align: center;
    font-size: 93%;
    line-height: 1.28;
    color: #fff;
    z-index: 4;
    padding-left: 17px;
}

.introduction .list-code{
    font-style: italic;
}

.introduction .to-photo{
    cursor: pointer;
    font-weight: bold;
}

#introduction-page article.first {
    /*margin-top: 800px;*/
    text-align: right;
    /*padding-right: 50px;*/
    padding-top: 50px;
}

#introduction-page article.second {
    padding-top: 150px;
    text-align: left;
    /*padding-left: 50px;*/
}

#introduction-page article.third {
    padding-top: 150px;
    text-align: right;
    /*padding-right: 50px;*/
}

#introduction-page article.fourth {
    padding-top: 150px;
    text-align: left;
    /*padding-left: 50px;*/
}


.link-container{
    width: 100%;
    text-align: center;
}

.linkButton{
    width: 220px;
    height: 50px;
    background-color: #4CBAA6;
    color: #fff;
    font-size: 19px;
    border: none;
    line-height: 50px;
    text-align: center;
    float: right;
    margin-top: 42px;
}

.left{
    float: left;
}
.right{
    float: right;
}

.specs{
    color: #fccc1d;
}

.article-title {
    font-size: 35px;
    color: #6DD6C3;
}

.text {
    margin-top: 20px;
}

/**PROJECTS**/

.oveWebsite .image-mobile, .oveWebsite .image{
    /*width: 495px;*/
    width: 100%;
    margin-left: 35px;
}

.oveMobile {
    /*width: 235px;*/
    width: 100%;
}

.blackHole {
    /*width: 495px;*/
    width: 100%;
    margin-right: 35px;
    float: right;
}

.unityGame .image-mobile, .unityGame .image{
    /*width: 495px;*/
    width: 100%;
    margin-left: 35px;
}

.itycom .image-mobile, .itycom .image{
    /*width: 495px;*/
    width: 100%;
    margin-right: 35px;
    float:right;
}

.mobile-games .image, .mobile-games .image-bis{
    width: 75%;
    float: right;
}
.mobile-games .image{
    margin-right: 180px;
}
.mobile-games .image-bis{
    margin-top: -20%;;
}

.mobile-games .image-mobile, .mobile-games .image-mobile-bis{
    width: 100%;
    margin-right: 35px;
    float:right;
}

.drawMe {
    /*width: 495px;*/
    width: 100%;
    margin-right: 35px;
    float: right;
}

.first .text-project{
    padding-right: 20px;
}
.second .text-project{
    padding-left: 30px;
}
.third .text-project{
    padding-right: 20px;
}
.fourth .text-project{
    padding-left: 30px;
}

.image-mobile, .image-mobile-bis{
    display: none;
}

/*----------------------------------------------*/
/*-------------------TIMELINE-------------------*/
/*----------------------------------------------*/

.timeline {
    position: relative;
    padding-bottom: 200px;
    padding-top: 200px;
    background: url(../img/indexb.png);
}

.timeline-line {
    margin: 0 0 0 -0.125rem;
    padding: 0;
    position: absolute;
    z-index: 5;
    top: 200px;
    left: 50%;
    width: 4px;
    height: 85%;
    background: #6DD6CD;
}


/*----------------------------------------------*/
/*--------------CONTACT PAGE VIEW---------------*/
/*----------------------------------------------*/

#contact-page {
    background: #fefefe;
    overflow: auto;
}

#contact-page .title {
    text-align: center;
    font-size: 5em;
    line-height: 1em;
    padding: 100px;
    font-family: MarkPro-Black, sans-serif;
}

#contact-page #message-input textarea,
#contact-page #message-input label {
    height: 150px;
}

#send{
    width: 220px;
    height: 50px;
    background-color: #6DD6C3;
    color: #fff;
    font-size: 19px;
    border: none;
    margin-left: 15px;
}
.send-container{
    width:100%;
}

#top-pres{
    height:100%;
    width:100%;
}

/*----------------------------------------------*/
/*----------------RESPONSIVITY------------------*/
/*----------------------------------------------*/

@media (max-width: 1240px) {
    #presentation .title {
        font-size: 9em;
    }
    .home-page .description {
        right: 70px;
    }
}
@media (max-width: 1070px) {
    #introduction-page .title {
        margin-top: 130px;
        margin-left: 110px;
        font-size: 7em;
    }
}

@media (max-width: 1000px) {
    .grid-sizer{
        width: 50%!important;
    }
    .grid-item {
        width: 49.467%!important;
    }

    .photos-menu h3{
        display: none;
    }
    .photos-menu {
        float: none!important;
        width: 100%!important;
    }
    .photos-menu li {
        display: inline-block;
        padding: 0 16px;
    }
    #photo-page .title {
        padding-bottom: 80px!important;
    }
    .photos-wrapper .grid {
        float: none!important;
        width: 100%!important;
        margin-top: 40px!important;
    }
    .photos-wrapper {
        max-width: 90%!important;
    }
}
@media (max-width: 855px) {
    .home-page .description {
        top: 280px;
    }
    .quote {
        bottom: 30px;
    }
    #contact-page .title {
        text-align: center;
        font-size: 5em;
        line-height: 1em;
        padding: 100px 100px 20px 100px;
        font-family: MarkPro-Black, sans-serif;
    }
}

@media (max-width: 855px) {
    #presentation .title {
        margin-left:0;
        margin-top: 140px;
        font-family: MarkPro-Black, sans-serif;
        text-transform: uppercase;
        font-size: 6em;
        text-align: center;
        line-height: 1em;
        padding-left: 50px;
        padding-right: 50px;
    }
    .home-page .description {
        margin: auto;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        top: 200px;
        bottom: 0;
        right: 0;
        left: 0;
        max-width: 600px;
        font-size: 25px;
        height: 160px;
    }
    #introduction-page .title {
        text-align: center;
        margin-left: 0;
        font-size: 7em;
    }
    #introduction-page .description {
        margin: auto;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        font-weight: 600;
        right: 0;
        font-size: 25px;
    }
}
@media (max-width: 767px) {
    .timeline article {
        padding: 0!important;
    }
    .timeline-line{
        background: none;
    }
    .text-project{
        margin: 0 0 100px;
        padding: 0!important;
    }
    .description{
        padding-left: 10px;
        padding-right: 10px;
    }
    .description-timeline{
        text-align: left;
    }
    .timeline .image, .timeline .image-bis{
        display: none;
        padding:0;
        margin:0;
    }
    .container{
        max-width: none!important;
    }
    .image-mobile, .image-mobile-bis{
        display: block!important;
        padding: 30px 0;
        margin: 0!important;
    }
    .image-mobile-bis{
        margin-top: -150px!important;
    }
    #particles-js{
        display: none;
    }
    .send-container{
        text-align: center;
        margin-bottom: 40px;
    }
    .linkButton{
        float: none;
    }
    #hamb-menu{
        right: 26px;
        margin: 26px auto;
    }
    .overlay nav {
        top: 48%;
    }
}

@media (max-width: 480px) {
    .grid-item {
        width: 100%!important;
    }
}




/*FLICKITY*/
/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer {
    width: 33.333%;
}
.grid-item{
    width: 32%;
}

.grid-item {
    float: left;
    overflow: hidden;
    margin-bottom: 10px;
}

.grid-item img {
    display: block;
    width: 100%;
    height: auto;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
}
.grid-item img:hover{
    opacity: 0.9;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
}


#photo-page{
    background: url(../img/index3.png);
}

#photo-page .title {
    text-align: center;
    padding: 60px 0 140px;
    font-size: 5em;
    font-family: MarkPro-Black, sans-serif;
}

.photos-container{
    height: 100%;
    overflow: auto;
}

.photos-wrapper{
    max-width: 80%;
    margin: 0 auto;
}
.photos-wrapper .grid{
    float: right;
    width: 80%;
    padding: 0;
    margin: 0 0 50px 0;
}
.photos-menu{
    float: left;
    list-style: none none;
    width: 18%;
}
.photos-menu h3{
    font-size: 23px;
    font-weight: bold;
}
.photos-menu ul{
    padding: 0;
    text-align: center;
    margin: 0;
}
.photos-menu li{
    margin-bottom: 10px;
    list-style: none none;
}

.photos-menu a{
    color: #000;
    text-decoration: none!important;
    opacity: 0.5;
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    cursor: pointer;
}
.photos-menu a:hover{
    color: #000;
}
.photos-menu h3 {
    margin-top: 0;
    border-bottom: 1px solid #ababab;
    padding-bottom: 1em;
    text-transform: uppercase;
}