
.console{
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

.console .title{
    background-color: rgba(211,211,211,0.4);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.console #caption, .console .cursorContent{
    background-color: rgba(211,211,211,0.4);
    padding-top: 15px;
    padding-bottom: 15px;
}
